{% extends 'base.html' %}

{% block content %}
    <div class="w-full">
        <div class="px-2 lg:hidden">
            {% include '_product_type_list.html' %}
        </div>
        <div class="w-[95%] lg:w-[99%] lg:gap-3 mx-auto mt-3 flex flex-row flex-wrap justify-start lg:mb-20">
            {% for p in product_list%}
                {% include '_product_list_partial.html' %}
            {% endfor %}
        </div>

        {% for page in page_list %}
            {% include '_custom_page_partial.html' %}
        {% endfor %}

        <div class="px-8 lg:hidden">
            {% include '_article_list.html' %}
        </div>
    </div>
{% endblock %}