{% extends 'base.html' %}

{% block title_extra %}
    {% if current_category %}
        - {{ current_category.title }}
    {% else %}
        - 全部分类
    {% endif %}
{% endblock %}

{% block content %}
    <div class="lg:hidden">
        <ul class="px-2 flex flex-wrap justify-start">
            <li class="border m-1">
                {% if current_category_id != 0 %}
                    <a href="{% url 'product_list' %}" class="p-2 block bg-gray-100 text-gray-500">
                        全部
                    </a>
                {% else %}
                    <span class="p-2 block bg-red-500 text-white">全部</span>
                {% endif %}
            </li>
            {% for c in categories %}
                <li class="border m-1">
                    {% if c.id != current_category_id %}
                        <a href="{% url 'product_list' c.id %}" class="p-2 block bg-gray-100 text-gray-500">
                            {{ c.title }}
                        </a>
                    {% else %}
                        <span class="p-2 block bg-red-500 text-white">{{ c.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="w-[95%] lg:w-[99%] lg:gap-3 mx-auto mt-3 flex flex-row flex-wrap justify-start lg:mb-20">
        {% for p in products %}
            {% include '_product_list_partial.html' %}
        {% endfor %}
    </div>
{% endblock %}