{% extends 'base.html' %}

{% block title_extra %}
    - {{ category.title }}
{% endblock %}

{% block content %}
    <div class="lg:hidden">
        <ul class="flex flex-wrap justify-start">
            {% for c in categories %}
                <li class="border m-1">
                    {% if c.id != current_category_id %}
                        <a href="{% url 'product_list' c.id %}" class="p-2 block bg-gray-100 text-gray-500">
                            {{ c.title }}
                        </a>
                    {% else %}
                        <span class="p-2 block bg-red-500 text-white">{{ c.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="p-2 flex flex-col">
        <p class="text-bold text-center py-3">{{ category.title }}</p>
        <div class="w-[95%] lg:w-[99%] lg:gap-3 mx-auto mt-3 flex flex-row flex-wrap justify-start lg:mb-20">
            {% for p in category.get_visible_products %}
                {% include '_product_list_partial.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}