{% extends 'base.html' %}

{% block title_extra %}
    - {{ product.title }}
{% endblock %}

{% block content %}
    <div class="flex flex-col lg:mx-auto">
        <div class="p-4 w-full shadow-lg lg:shadow-none">
            <p class="">
                <img src="{{ product.get_styled_main_image }}" class="lg:flex-2 lg:object-contain">
            </p>
            <div class="lg:w-full lg:mx-3 lg:text-lg">
                <p class="font-bold p-1 lg:w-full">{{ product.title }}</p>
                <p class="text-gray-500 text-xs pl-1">{{ product.spec }}</p>
                <p class="text-red-500 font-bold mt-1">￥{{ product.price }}</p>
            </div>
        </div>
        <div class="mx-auto mt-5 p-5 w-full h-200 bg-gray-100">
            {{ product.description | safe | linebreaks }}
        </div>
        <ul class="lg:flex lg:flex-col p-0">
            {% for image in product.get_all_detail_images %}
                <li class="shadow-lg my-5">
                    <img src="{{ image.url }}" alt="{{ product.title }}" class="w-full object-cover">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}